iframe{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    right: 30%;
    top: 30%;
}
button{
    width: 8%;
    height: 22%;
}
div{
    width: 50%;
    height: 25%;
    border: 1px solid brown;
    position: absolute;
    top: 5%;
    left: 25%;
}